
<head>
	<link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
	<title>project5</title>

</head>
<body ng-app="WebDesignz">
	<div id="container" ng-controller="MainController">
			<div id="topnav">project5</div>
			<div class="pic-box"></div>
			<div class="alert">
				<h1> Well isn't this embarrasing?! This site is currently under construction. However, please check out links to my projects while you are here:</h1>
				<h3>
					<a href="http://tictactoe2000.herokuapp.com/">TicTacToe 2000</a>
					<a href="http://homestreethome.herokuapp.com/">HomeStreetHome</a>
					<a href="http://trivia-pursuit.herokuapp.com/bars">Trivia Pursuit</a>
					<a href="http://tapp-data.herokuapp.com/">TappData</a>
				</h3>
			</div>
			<!-- <div class="pic-box2"></div>
			<div class="pic-box3"></div>
			<div class="pic-box4"></div> -->
				<div id="nav-items-container">
					<div class="info-box" ng-repeat="item in navItems">
						<h1 class="menu-text">{{item}}</h1>
					</div>
				</div>
				<div class="boxes" ng-repeat="square in squares"></div>
	</div>
</body>